@import './colors.scss';
@import './fonts.scss';

.ui-select {
    font-family: $font-family;

    &.is-disabled {
        .ui-select__display-value {
            color: rgba(0, 0, 0, 0.38);
            opacity: 0.6;
        }
    }

    .ui-select__content {
        .ui-select__label {
            .ui-select__label-text {
                font-size: 12px;
                color: $text-grey;
                line-height: 36px;

                &.is-inline {
                    padding-left: 10px;
                    transform: translateY(36px) scale(1.1);
                }
            }

            .ui-select__display {
                font-size: 14px;
                color: $dark-background;
                padding: 2px 10px;
                min-height: 36px;
                border-radius: 3px;
                background-color: $light-grey;
                border: solid 1px $grey-main-border-color;
                transition: background-color 0.5s ease-out;

                &.is-placeholder {
                    color: $text-grey;
                    font-size: 14px;
                }

                .ui-select__dropdown-button {
                    color: $text-grey;
                }
            }
        }
    }

    .ui-select__search-icon {
        color: $active;
    }

    .ui-select__options {
        .ui-select-option {
            font-family: inherit;
            font-size: 14px;

            &.is-highlighted {
                color: $dark-background;
                background-color: $light-grey;
            }

            &.is-selected {
                font-weight: 600;
                color: black;
            }

            &__checkbox {
                display: none;
            }
        }
    }

    &.is-active {
        .ui-select__feedback-text {
            visibility: visible;
        }
    }

    &.dropdown-shown {
        .ui-select__content {
            .ui-select__label {
                .ui-select__display {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }

    &.has-floating-label {
        .ui-select__label-text {
            &.is-inline {
                transform: translateY(36px) scale(1.1);
                padding-left: 10px;
            }
        }
    }

    &.is-invalid:not(.is-disabled) {
        .ui-select__feedback-text {
            color: $danger;
        }
        .ui-select__label-text {
            color: $danger;
        }
        .ui-select__display {
            border-color: $danger;
        }

        &:hover {
            .ui-select__display {
                border-color: $danger;
            }
        }
    }

    &:hover:not(.is-disabled):not(.dropdown-shown) {
        .ui-select__content {
            .ui-select__label {
                .ui-select__display:hover {
                    background-color: $white;

                    .ui-select__dropdown-button {
                        color: $text-grey;
                    }
                }
            }
        }
    }

    .ui-select__feedback-text {
        color: rgba(0, 0, 0, 0.38);
        line-height: 1.2;
        font-size: 12px;
        visibility: hidden;
    }

    /* fixing shadow of a drop-down */
    .ui-select__dropdown {
        width: 100%;
        background-color: #fff;
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, .08);
        border-top: 0;
        border-left: 1px solid #e4e4e4;
        border-right: 1px solid #e4e4e4;
        border-bottom: 1px solid #e4e4e4;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        padding: 0;
    }

    /* fixing bad positioning for an icon with negative right margin */
    .ui-select__dropdown-button {
        margin: 0;
        flex-shrink: 0;
        font-size: 30px;
    }
    /* fixing bad positioning for an icon if label test exists */
    &.has-label {
        .ui-select__dropdown-button {
            top: 0;
        }

        .ui-select__icon-wrapper {
            padding-top: 41px;
        }
    }
}
